<footer id="footer">
	<p class="copy">&copy; 2020 - Marina Brognoli - <a href="credits.html">Credits</a> - <a href="cookie-policy.html">Cookie policy</a></p>
	<ul class="links">
		<li><a href="mailto:&#109;&#097;&#114;&#105;&#110;&#097;&#064;&#109;&#097;&#114;&#105;&#110;&#097;&#098;&#114;&#111;&#103;&#110;&#111;&#108;&#105;&#046;&#099;&#111;&#109;" class="mail" target="_blank"></a></li>
		<li><a href="https://www.instagram.com/marina.brognoli/" class="instagram" target="_blank"></a></li>
		<li><a href="https://www.facebook.com/libraretime/" class="facebook" target="_blank"></a></li>
	</ul>	
</footer>