<div id="privacy-policy">
	<p>
		Utilizziamo i cookie per offrirti la migliore esperienza di navigazione possibile. 
	   	Procedendo ad utilizzare il sito, anche rimanendo in questa pagina, acconsenti all'uso dei cookie.
		<a href="/cookie-policy.html" class="link">Maggiori informazioni</a>
		<a href="#" class="btn">Ok</a>
	</p>	
</div>