<!doctype html>
	<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
	<!--[if IE 9]>    <html class="nie9"> <![endif]-->
	<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<title>Marina Brognoli - Credits</title>
		<meta name="description" content="Marina Brognoli - Credits">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
		{{> partials/ga }}
	</head>
	<body>
		<nav id="menu">
			<ul>
				<li><a href="/#home" data-scroll>Home</a></li>
				<li><a href="/#marina" data-scroll>Marina</a></li>
				<li><a href="/#libro" data-scroll>Ter</a></li>
				<li><a href="/#acquista" data-scroll>Acquista</a></li>
				<li><a href="/#media" data-scroll>Media</a></li>	
			</ul>
		</nav>
		<section id="credits">
			<h2><span>Credits</span></h2>
			<h3>Realizzazione Sito Web</h3>
			<div class="credits-item cf">
				<p><img src="/assets/davide.jpg" alt="Davide Brognoli">
					<strong>Davide Brognoli</strong><br/>
				   Senior Frontend Developer presso CodicePlastico<br/>	
				<a href="https://davidebrognoli.com/" target="_blank">https://davidebrognoli.com/</a><br/> 
				<a href="https://codiceplastico.com/" target="_blank">https://codiceplastico.com/</a>
				</p>
			</div>
			<h3>Fotografia di Marina</h3>
			<div class="credits-item cf">
				<p>
					<img src="/assets/battista.jpg" alt="Battista Lazzarini">
					<strong>Battista Lazzarini</strong><br/>
				   	Fotografo freelance, laureato in Materie Letterarie, si occupa anche di formazione tenendo corsi di fotografia e di creativit&agrave;.<br/>	
					<a href="http://www.battistalazzarini.it" target="_blank">http://www.battistalazzarini.it</a>
				</p>
			</div>
			<div id="push"></div>
		</section>		
		{{> partials/footer }}
		{{> partials/privacy }}
	</body>
</html>
