<!doctype html>
	<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
	<!--[if IE 9]>    <html class="nie9"> <![endif]-->
	<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<title>Marina Brognoli</title>
		<meta name="description" content="Marina Brognoli, autrice del nuovo romanzo TER, premiato con Diploma D'onore nella 3a edizione del Premio Letterario Giovane Holden">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
		{{> partials/ga }}
	</head>
	<body>
		<nav id="menu">
			<ul>
				<li><a href="#home" data-scroll>Home</a></li>
				<li><a href="#marina" data-scroll>Marina</a></li>
				<li><a href="#libro" data-scroll>Ter</a></li>
				<li><a href="#acquista" data-scroll>Acquista</a></li>
				<li><a href="#media" data-scroll>Media</a></li>	
			</ul>
		</nav>
		<header id="home" class="image-section">
			<div class="header-image">
				<div class="text-container">
					<div class="text">
						<h1>Marina Brognoli</h1>
					</div>
				</div>	
				<a href="#marina" id="scroll-down" data-scroll></a>	
			</div>
		</header>
		<section id="marina">
			<h2><span>Marina</span></h2>
			<div class="cf container">
				<div class="column">
					<img src="/assets/marina.jpg" alt="Marina" class="profile-img">
				</div>
				<div class="column">
					<p>
						Marina Brognoli nasce a Brescia il 3 ottobre 1980.
					</p>
					<p>	
						Sin da piccola coltiva molte passioni, prime fra tutte la scrittura e la lettura. 
						Sperimenta diverse tecniche di scrittura, mettendosi alla prova partecipando a vari concorsi 
						letterari. 
					</p>
					<p>
						Dopo le scuole superiori si iscrive alla Facolt&agrave; di Storia Medioevale, presso l'Università 
						degli Studi di Milano. Durante gli anni in Universit&agrave; scopre la passione per la ricerca e per 
						gli archivi, cos&igrave;, conseguita la laurea, si iscrive al Master di I° livello "Archiviazione dei beni ecclesiastici" presso l'Universit&agrave; Cattolica di Brescia.
					</p>
					<p>
						Nel 2014, all'et&agrave; di trentatre anni, pubblica il suo primo romanzo "TER" nel quale ha profuso
						fantasia, passione e ricerca storica. 
					</p>
					<p>
						La prima stesura del romanzo &egrave; stata premiata con Diploma d'Onore nella 3a edizione del 
						Premio Letterario Giovane Holden – Lucca.
					</p>
				</div>	
			</div>	
		</section>	
		<section id="libro-cp" class="image-section">
			<div class="header-image">
				<div class="text-container">
					<div class="text">
						<h1>TER</h1>
						<h2>Un libro di Marina Brognoli</h2>
					</div>
				</div>				
			</div>
		</section>	
		<section id="libro">
			<h2><span>Il libro</span></h2>
			<p>
				Giulia &egrave; una giovane ricercatrice che lavora presso il Dipartimento di Storia
				Medioevale all'Università degli Studi di Milano, citt&agrave; nella quale vive con Carlo, suo marito.
				La sua vita procede in modo semplice, districandosi tra lavoro, amici e la sua più grande 
				passione: i libri.
				Una sera rincasando, trova la lettera di un notaio, con la quale si scopre destinataria di 
				una insolita eredit&agrave;.
				Dubbiosa, ma curiosa di conoscere i dettagli della vicenda, decide di partire, 
				accompagnata dal marito, per recarsi sul posto indicato nella lettera, intenzionata a 
				comprendere il "valore" di quanto ereditato.
				Piumazzo, una piccola, ma accogliente cittadina nei pressi di Bologna fa cos&igrave; da cornice 
				ad una inattesa avventura che lega tre donne con una sottile linea che attraversa il tempo. 
			</p>
			<p>
				Tutto ha inizio in seguito all’incontro con il notaio Guido Del Conte, il quale rivela a Giulia i 
				dettagli dell’eredit&agrave; racchiusa in una sola scatola.
				Giulia accetta la sfida. La passione per la ricerca la motiva nella scoperta della verit&agrave; circa 
				la vita di due donne: una anziana, colei che le ha lasciato l'eredit&agrave; ed un'altra vissuta nel 
				1300 e accusata di eresia.
				Procedendo passo passo la vicenda si sviluppa, fornendo al lettore un quadro sempre 
				pi&ugrave; definito della storia, fino all'epilogo finale.
			</p>		
		</section>	
		<section id="book-preview">
			<div id="book" class="cycle-slideshow" 
				data-cycle-center-horz=true 
				data-cycle-timeout="0"
				data-cycle-prev="#prev"
    			data-cycle-next="#next"
    			data-cycle-swipe=true
    			data-cycle-log=false
    			data-cycle-loader=true
    			data-cycle-progressive="#images2"
    		>
				<img src="/assets/preview-copertina.jpg" alt="copertina">
			</div>
			<script id="images2" type="text/cycle">	
				<img src="/assets/preview-page3.png" alt="pagina-3">
				<img src="/assets/preview-page5.png" alt="pagina-5">
				<img src="/assets/preview-page7.png" alt="pagina-7">
				<img src="/assets/preview-page8.png" alt="pagina-8">
				<img src="/assets/preview-page9.png" alt="pagina-9">
				<img src="/assets/preview-page10.png" alt="pagina-10">
				<img src="/assets/preview-page11.png" alt="pagina-11">
				<img src="/assets/preview-page12.png" alt="pagina-12">
				<img src="/assets/preview-page13.png" alt="pagina-13">
				<img src="/assets/preview-page14.png" alt="pagina-14">
				<img src="/assets/preview-page15.png" alt="pagina-15">
				<img src="/assets/preview-page16.png" alt="pagina-16">
				<img src="/assets/preview-page17.png" alt="pagina-17">
				<img src="/assets/preview-page18.png" alt="pagina-18">
				<img src="/assets/preview-page19.png" alt="pagina-19">
			</script>	
			</div>
			<a href="#" id="prev"></a> 
    	<a href="#" id="next"></a>
		</section>	
		<section id="acquista">
			<h2><span>Acquista online</span></h2>
			<p>
				&Egrave; possibile acquistare TER sulle seguenti piattaforme
			</p>
			<div class="acquista-container cf">
				<a href="http://www.lafeltrinelli.it/products/5456584.html?zanpid=1870611300082971648" target="_blank" class="feltrinelli acquista-item"></a>
				<a href="http://ilmiolibro.kataweb.it/schedalibro.asp?id=1042672" target="_blank" class="ilmiolibro acquista-item"></a>
				<a href="http://www.amazon.it/TER-MARINA-BROGNOLI-ebook/dp/B00NKDQIYG/" target="_blank" class="amazon acquista-item"></a>
			</div>	
		</section>
		<section id="media">
				<div class="text-container">
					<div class="text">
						<h2><span>Media</span></h2>
						<a href="/assets/giornale_di_brescia.jpg" class="gallery-rassegnastampa main-image">
							<span class="title">Rassegna stampa</span>
							<img src="/assets/rassegnastampa.jpg">
						</a>
						<a href="/assets/presentazionelibro-1.jpg" class="gallery-presentazione main-image">
							<span class="title">Presentazione Ter - Feltrinelli</span>
							<img src="/assets/gallery-presentazione.jpg">
						</a>
						<a href="/assets/presentazionelibro-2.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-3.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-4.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-5.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-6.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-7.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-8.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-9.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-10.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-11.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-12.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-13.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-14.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-15.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-16.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-17.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-18.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-19.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/presentazionelibro-20.jpg" class="gallery-presentazione hidden-image"></a>
						<a href="/assets/radiovera_1.jpg" class="gallery-radiovera main-image">
							<span class="title">Intervista Radiovera</span>
							<img src="/assets/gallery-radiovera.jpg">
						</a>
						<a href="/assets/radiovera_2.jpg" class="gallery-radiovera hidden-image"></a>
						<a href="/assets/radiovera_3.jpg" class="gallery-radiovera hidden-image"></a>
					</div>
				</div>				
			</div>
		</section>	
		{{> partials/footer }}
		{{> partials/privacy }}
	</body>
</html>
